flows.json
[{"id":"54a80e15.44fbf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"54a80e15.44fbf","name":"Node-Red y Git","info":"","x":460,"y":80,"wires":[]},{"id":"710fea73.cb9254","type":"inject","z":"54a80e15.44fbf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":200,"wires":[["85fc1669.800278"]]},{"id":"85fc1669.800278","type":"debug","z":"54a80e15.44fbf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":200,"wires":[]}]